.quantity {
    width: 100px;
    border: solid 2px #424242;
    height: 25px;
    border-radius: 7px;
    font-size: 15px;
    overflow: hidden;

    &-btn:first-child{
        border-right: solid 2px #424242;
    }

    &-btn:last-child{
        border-left: solid 2px #424242;
    }
    &-btn:hover{
        background-color: rgb(218, 218, 218);
    }

    &-btn{
        background: transparent;
        border: none;
        align-items: center;
        padding: 0 8px;
        outline: none;
        cursor: pointer;
        transition-duration: 100ms;

        img{
            width: 15px;
            height: 15px;
        }
    }

    &-value{
        flex:1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 768px) {
  .quantity{
    width: 60px;
    height: 18px;
    font-size: 10px;
    
    &-btn{
        padding: 0 3px;
        img{
            width: 10px;
            height: 10px;
        }
    }
  }
}