.screen-container {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  text-align: center;

  .logo {
    width: 40%;
    border: solid 1px #0d3360;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    margin-top: 33%;
    margin-bottom: 26px;
  }

  .loginForm {
    width: 100%;

    .mobile {
      margin-bottom: 15px;
    }
    .mobile, .loginBtn {
      width: 100%;
    }
  }
}